* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(252, 246, 235);
}

tr {
    height: 80px;
}

img {
    height: 80px;
    aspect-ratio: 1/1;
}

#sorting th.sortby[data-sort-direction="asc"]::after {
    content: "▼"
}
#sorting th.sortby[data-sort-direction="desc"]::after {
    content: "▲"
}

[data-action] {
    cursor: pointer;
  }

.hide {
    display: none;
}

tbody tr td[data-field="expell"] {
    cursor: pointer;
  }